table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.search-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.example-form-field {
    width: 25%;
    bottom: -5px;
}

.example-element-description>ol {
    list-style-type: lower-alpha;
}

/* .hide {
    display: none;
} */

.fs-14{
    font-size: 14px;
}

.custom-file-input~.custom-file-label{
    border-color: #3f51b5;
}

.custom-file-input:focus~.custom-file-label {
    border-color: #3f51b5;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #ffffff;
    content: "Browse";
    background-color: #3f51b5;
    border-left: inherit;
    /* border-radius: 0 .25rem .25rem 0; */
    border-radius: 0;
}

.cdk-column-position{
    width: 3%;
}


