.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.label-text {
    margin-right: 10px;
}

.button-row{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.button-row button {
    margin-right: 10px;
}

.button-row button:focus {
    outline: unset;
}

.mat-stroked-button:not([disabled]) {
    border-color: rgba(0, 0, 0, 0);
}

.btn-dialog-close:hover {
    border-color: rgba(0, 0, 0, 0);
}

.form-element {
    padding: 5px 0px 15px 2px;
}