<div class="container-fluid mt-4" style="margin-bottom: 100px;">

  <!-- <div class="search-div">
    <button mat-raised-button (click)="onDisabled()">
      <mat-icon>add</mat-icon> Create
    </button>
    <mat-form-field class="example-form-field" floatLabel="never">
      <input matInput matInput placeholder="Search..." [(ngModel)]="searchKey" autocomplete="off"
        (keyup)="applyFilter()" />
      <button mat-button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div> -->

  <div class="mat-elevation-z8 mb-4">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Manage Voucher</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-table [dataSource]="voucherData">

      <!-- Sr. No. column -->
      <ng-container matColumnDef="srNo">
        <mat-header-cell *matHeaderCellDef>Sr. No.</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.position  }}</mat-cell>
      </ng-container>

      <!-- voucherCode column -->
      <ng-container matColumnDef="voucherCode">
        <mat-header-cell *matHeaderCellDef>Voucher Code</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.voucherCode }}</mat-cell>
      </ng-container>

      <!-- voucherStatus column -->
      <ng-container matColumnDef="voucherStatus">
        <mat-header-cell *matHeaderCellDef>Voucher Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-slide-toggle class="example-margin" [checked]="element.status == 1" (click)="changeStatus(element)">
            {{ element.status == 1 ? 'Enabled' : 'Disabled' }}
          </mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <!-- action column -->
      <!-- <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="warn" (click)="onDelete(row.id)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container> -->

      <!-- empty data column -->
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef>No Data...</mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <mat-footer-row *matFooterRowDef="['noData']"
        [ngClass]="{'hide': !(voucherData!=null && voucherData.data.length == 0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>